.split-pane-md.split-pane-visible>.split-pane-side {
    max-width: 250px;
}

.inc-nav-title {
    font-weight: bold;
    text-transform: uppercase;
}

ion-split-pane {
    --border: 0;
}

ion-menu ion-content,
ion-menu ion-list,
ion-menu ion-item {
    background: var(--ion-color-dark);
    --background: var(--ion-color-dark);
}

ion-menu ion-item,
ion-menu ion-item ion-icon {
    color: var(--ion-color-medium);
}

ion-menu-toggle ion-item {
    --background-hover: rgba(255, 255, 255, .05);
    --color-hover: var(--ion-color-medium);
    text-transform: capitalize;
}

ion-item.inc-active-link {
    color: var(--ion-color-light) !important;
    --color-hover: var(--ion-color-light) !important;
    border: 0 solid var(--ion-color-danger);
    border-left-width: 4px;
}

ion-item:not(.inc-active-link) {
    padding-left: 4px;
}

.inc-active-link ion-icon {
    color: var(--ion-color-danger) !important;
}