<ion-content>
  <ion-button class="back-btn" fill="clear" (click)="navigateTo('/profile')">
    <ion-icon slot="start" name="arrow-back"></ion-icon> {{'PROFILE' | translate}}
  </ion-button>
  <inc-container>
    <ion-card class="ion-padding">
      <div *ngIf="mustLoginAgain" class="ion-text-center">
        <h5>{{'NEED_LOGIN' | translate}}</h5>
        <ion-button id="login-forpw" [routerLink]="['/login', currentRoute]">{{'LOGIN' | translate}}
        </ion-button>
      </div>
      <ion-list *ngIf="!mustLoginAgain">
        <form [formGroup]="form" (ngSubmit)="reAuthenticate()">
          <ion-text>
            <h5>{{'EDIT_PASSWORD' | translate}}</h5>
          </ion-text>
          <ion-item>
            <ion-label position="floating">{{'NEW_PW' | translate}}
              <span class="required">*</span>
            </ion-label>
            <ion-input id="newPassword" formControlName="newPassword" [type]="inputs[0].type" name="password" required
              minlength="6">
            </ion-input>
            <ion-icon slot="end" id="eye2" [name]="inputs[0].icon" (click)="togglePwVisibility(0)">
            </ion-icon>
          </ion-item>
          <ion-item>
            <ion-label position="floating">{{'NEW_PW_CONFIRM' | translate}}
              <span class="required">*</span>
            </ion-label>
            <ion-input id="reNewPassword" formControlName="reNewPassword" [type]="inputs[1].type" name="password"
              required minlength="6">
            </ion-input>
            <ion-icon slot="end" id="eye3" [name]="inputs[1].icon" (click)="togglePwVisibility(1)">
            </ion-icon>
          </ion-item>
          <div class="ion-float-right ion-margin-top">
            <ion-button id="pwreset" type="reset" fill="outline" (click)="reset()" class="ion-margin-end">
              <ion-icon slot="start" name="refresh"></ion-icon>
              {{'AGAIN_BUTTON' | translate}}
            </ion-button>
            <ion-button id="submitpw" type="submit" color="primary" [disabled]="form.invalid">
              <ion-icon slot="start" name="save"></ion-icon>
              {{'READY_BUTTON' | translate}}
            </ion-button>
          </div>
        </form>
      </ion-list>
    </ion-card>
  </inc-container>
</ion-content>